{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="todocontainer"></div>
<button class="todoCreate" id="createBtn"> Todo 등록하기</button>

<script>
// 1. 문서가 완전히 로드되면 초기화 함수 실행
document.addEventListener("DOMContentLoaded", init);

// 2. 초기화: UI 이벤트 연결 및 첫 페이지 Todo 목록 로드
function init(){
    UIEvents();
    loadTodoList(); 
}

// 2-1. UI 이벤트 바인딩: "Todo 등록하기" 버튼 클릭 시 등록 페이지로 이동
function UIEvents(){
    document.getElementById("createBtn")
    .addEventListener("click", onCreateClick);
}

// 2-1-1. 등록 버튼 클릭 시 /todo/create/로 이동
function onCreateClick(){
    window.location.href = "/todo/create/";
}

// 3. 서버에서 Todo 목록 불러오기
function loadTodoList(){
    fetchTodoData()
    .then(data => {
        const todos = extractTodoArray(data); //
        renderTodoList(todos); //탬플릿을 꾸며서 화면에 출력하기 함수
    })
    .catch(err => console.error('리스트 로드 실패', err));
}

// 3-1. axios를 이용해 서버로부터 특정 페이지의 Todo 목록 가져오기
function fetchTodoData(){
    return axiosInstance
    .get('/todo/api/list/')
    .then(res => res.data); 
}

// 3-2. API 응답 형식에 따라 Todo 배열 추출(페이지네이션들어오면 if 추가)
function extractTodoArray(data){
    if(Array.isArray(data)) return data; //데이터 검수
    return [];
}

// 3-3. 추출된 Todo 항목들을 화면에 렌더링
function renderTodoList(todos){
    const container = document.querySelector(".todocontainer"); // .todocontainer{}
    container.innerHTML = "";
    todos.forEach(todo => 
        container.appendChild(createTodoElement(todo))
    );
}

// 3-3-1. 단일 Todo 객체를 HTML 요소로 생성
function createTodoElement(todo){
    const div = document.createElement("div");
    div.className = "todo-item"; //<div class="todo-item completed"></div>

    // 완료된 항목이면 밑줄 적용
    if (todo.complete){
        div.classList.add("completed"); 
    }

    // 목록 클릭 시 상세 페이지 이동
    div.addEventListener("click", () => detailView(todo.id))

    // HTML 내용 설정
    div.innerHTML = `
        <p><strong>Name:</strong> ${todo.name}</p>
        <p><strong>Description:</strong> ${todo.description}</p>
        <p><strong>Complete:</strong> ${todo.complete}</p>
        <p><strong>Completed At:</strong> ${datetimeToString(todo.completed_at)}</p>
        <p><strong>Experience Points:</strong> ${todo.exp}</p>
        <button class="completeBtn">완료</button>
        <hr>
    `;

    div.querySelector(".completeBtn")
        .addEventListener('click', e => {
            e.stopPropagation();
            toComplete(todo.id);
            console.log("완료버튼 클릭");
    });

    return div;   
}

// 3-3-2. 완료 버튼 클릭 시 해당 Todo 항목을 완료 상태로 변경
function toComplete(id){
    axiosInstance.patch(`/todo/api/update/${id}/`, {complete:true}) //
    .then(() => loadTodoList()) 
    .catch(err => console.error("완료 처리 실패:", err)); 
}

// 3-3-3. 상세 페이지로 이동 (← 이전, 1 2 3, → 다음)
function detailView(id) {
    window.location.href = `/todo/detail/${id}/`;
}

// 3-4. 페이지네이션 구성 

</script>  
{% endblock %}
  